html, body {
  height: 370px;
  padding: 0;
  margin: auto;
  }
#map {
 height: 50vh;
 width: 60vw;
 overflow: hidden;
 float: left;
 border: thin solid #333;
 }
#capture {
 height: 50vh;
 width: 30vw;
 overflow: hidden;
 float: left;
 background-color: #ECECFB;
 border: thin solid #333;
 border-left: none;
 }
 
 #floating-panel {
         position: absolute;
         top: 10px;
         left: 25%;
         z-index: 5;
         background-color: #fff;
         padding: 5px;
         border: 1px solid #999;
         text-align: center;
         font-family: 'Roboto','sans-serif';
         line-height: 30px;
         padding-left: 10px;
       }
